# Gradle files
.gradle/
/build/

# Local configuration file (SDK path, etc.)
local.properties

# Android Studio
.idea/
*.iml

# Log files
*.log

# Android build cache
.gradletasknamecache/

# Files for Android Studio, Gradle caches
.DS_Store